.card {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .card-img {
  transform: scale(1.05);
  transition: all 1s ease;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 20px;
}

.card-content p {
  margin: 0;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--hover-color);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 70px;
  cursor: pointer;
  display: none;
  color: var(--play-color);
}

.card:hover .play-button {
  display: block;
}
