<div
  class="card"
  (mouseover)="showPlayButton = true"
  (mouseleave)="showPlayButton = false"
  aria-label="Card"
>
  <img
    [src]="songs.images[0].url"
    alt="{{ songs.name }} cover"
    class="card-img"
    aria-label="Cover"
  />
  <div class="card-content" aria-label="Content Area">
    <p class="card-title" aria-label="Title">{{ songs.name }}</p>
  </div>
  <!-- Play Button -->
  <button
    aria-label="Play Button"
    *ngIf="showPlayButton"
    class="play-button"
    (click)="playSong(songs)"
  >
    <i class="fas fa-play" aria-label="Play"></i>
  </button>
</div>
