<div class="music-player-controls">
  <div class="track-info">
    <img [src]="playImage ? playImage : 'public/astro.png'" alt="{{artistName}} cover">
    <p>
      <span class="title">Title: {{ trackDetail?.track_window?.current_track?.name }}</span>
      <span class="title">Artist: {{ artistName }}</span>
    </p>
  </div>

  <div class="controlsWrap">
    <div class="controls">
      <app-control-icon
        iconClass="fas fa-backward"
        ariaLabel="Previous"
        (iconClick)="previous()"
      ></app-control-icon>

      <app-control-icon
        iconClass="fas fa-play"
        ariaLabel="Play"
        (iconClick)="play()"
      ></app-control-icon>

      <app-control-icon
        iconClass="fas fa-pause"
        ariaLabel="Pause"
        (iconClick)="pause()"
      ></app-control-icon>

      <app-control-icon
        iconClass="fas fa-forward"
        ariaLabel="Next"
        (iconClick)="next()"
      ></app-control-icon>
    </div>
    <div class="seek-bar">
      <span>{{ currentTime | duration }}</span>
      <input type="range"
        [min]="0"
        *ngIf="trackDetail"
        [max]="duration"
        [value]="currentTime"
        (input)="seek($event)"
      >
      <span *ngIf="trackDetail">{{ trackDetail.track_window.current_track.duration_ms | duration }}</span>
    </div>
  </div>
</div>
