<div class="music-player-controls">
  <div class="track-info" (click)="onTrackClick()" onkeydown="">
    <img *ngIf="trackDetail" [src]="trackDetail.track_window.current_track.album.images[2].url" alt="{{ artistName }} cover" />
    <span *ngIf="!trackDetail" class="placeholder"> <span>No Image</span></span>
    <p class="" *ngIf="trackDetail">
      <span class="title">
        Title: {{ trackDetail.track_window.current_track.name }}
      </span>
      <span class="title">Artist: {{ trackDetail.track_window.current_track.artists[0].name }}</span>
    </p>
  </div>

  <div class="controlsWrap">
    <div class="controls">
      <app-control-icon
        iconClass="fas fa-backward"
        ariaLabel="Previous"
        (iconClick)="previous()"
      ></app-control-icon>
      @if (!isPlaying) {
        <app-control-icon
          iconClass="fas fa-play"
          ariaLabel="Play"
          (iconClick)="play()"
        ></app-control-icon>
      } @else {
        <app-control-icon
          iconClass="fas fa-pause"
          ariaLabel="Pause"
          (iconClick)="pause()"
        ></app-control-icon>
      }

      <app-control-icon
        iconClass="fas fa-forward"
        ariaLabel="Next"
        (iconClick)="next()"
      ></app-control-icon>
    </div>
    <div class="seek-bar">
      <span>{{ currentTime | duration }}</span>
      <input
        type="range"
        [min]="0"
        [max]="duration"
        [value]="currentTime"
        (input)="seek($event)"
      />
      <span>
        {{ !trackDetail ? '0:00': trackDetail.track_window.current_track.duration_ms | duration }}
      </span>
    </div>
  </div>
</div>
