nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 5px 20px;
}

.search input {
  width: 400px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: none;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search select {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: none;
  font-size: medium;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .search select{
    padding: 5px;
  }

  .search input {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .search select{
    padding: 5px;
  }

  .search input {
    width: 200px;
  }
}

option {
  background-color: white;
  color: black;
  font-size: medium;
  border-radius: 10px;
  padding: 5px 10px;
}

.profileWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 10000;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  gap: 5px;
  width: 40px;
  height: 30px;
  position: relative;
}

.profileContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background: #cccccce8;
  font-size: large;
  top: 55px;
  right: 15px;
  height: auto;
  border-radius: 10px;
  width: 150px;
  z-index: 10000;
  padding: 1px;
}

.profileInfo{
  width: 90%;
  text-align: center;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #1c08cc;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}

.profileInfo span{
  border: 1px solid #212dd4;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background: #cccccce8;
  text-transform: uppercase;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 80%;
  padding: 0 10px 5px 10px;
  height: 40vh;
  overflow-y: auto;
  z-index: 100000;
  top: 45px;
  border-radius: 10px;
  background: #ccccccf8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.artist button {
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

button{
  border: none;
  background: none;
}
