.albumWrap {
  width: 100%;
  height: var(--height-content);
  overflow-y: auto;
}

.banner img {
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
  border-radius: 10px;
}

.tracks {}

.currentTrack {
  width: 70%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  position: relative;
}

/* .currentTrack:hover {
  background: #ccc;
} */

.cover {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cover img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.info p {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.info p span {
  font-size: 0.8em;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--hover-color);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: var(--play-color);
}

.currentTrack:hover .play-button {
  display: block;
}
