/* You can add global styles to this file, and also import other style files */
/* Light Theme */
.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme */
.dark-theme {
  --background-color: #000000;
  --text-color: #ffffff;
  border: #cccccc98 1px solid;
}

/* Apply theme variables */
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
